<html ng-app="gb24">
	<head>
		<script src="/js/bundle.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/base.css"/>
		<link rel="stylesheet" type="text/css" href="/css/style.css"/>
		<title ng-bind="'GB24 | ' + title"></title>
	</head>
	<body ng-cloak>
		<div class="header">
			<div class="header-content">
				<div class="navbar" ng-controller="gb24Navbar as nav">
					<a hidden href="#/" class="logo-holder"><img src="/img/logo_small.png"/></a>
					<ul>
						<li class="tab" ng-repeat="tab in tabs" ng-class="{current: tab.url == currentUrl}"><a href="#{{tab.url}}">{{tab.name}}</a></li>
					</ul>
				</div>
				<div class="titlebar">
					<div ng-if="back" class="backbutton"><a ng-href="#{{back}}">&smt;</a></div>
					<h2 class="title">{{title}}</h2>
				</div>
			</div>
		</div>
		<div class="content">
			<div class="grid grid-left">
				<div class="panel view" ng-view></div>
			</div>
			<div class="grid grid-right">
				<div class="panel sponsors">
					<p>Mede mogelijk gemaakt door:</p>
					<img src="http://www.smpnuenen.nl/images/images/SBJ.jpg">
					<img src="http://www.smpnuenen.nl/images/images/SMA_SMA_MACHINE%20CONSTRUCTIONS_CMYK.jpg">
					<img src="http://www.smpnuenen.nl/images/images/Cycletrend(1).jpg">
				</div>
			</div>
		</div>
	</body>
</html>
