body {
	background-color: #DDD;
	font-family: roboto;
}

.header {
	background-color: #CCC;
}

.header .logo {

}

.header-content {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

.navbar .tab.current {
	background-color: #BBB;
}

.header .backbutton {
	margin-left: 10px;
	float: left;
}

.titlebar > .title {
	text-align: center;
	margin: 0;
}

.content {
	max-width: 700px;
	margin-top: 90px;
	margin-bottom: 20px;
}

.grid {
	width: 100%;
	float: left;
}

.panel {
	box-shadow: 0 1px 6px 0 rgba(0,0,0,.12),0 1px 6px 0 rgba(0,0,0,.12);
	background-color: #FFF;
	padding: 20px 20px 20px 20px;
	margin: 20px 20px 20px 20px;
}

@media only screen and (min-width: 500px) {
	.grid.grid-left {
		width: 70%;
	}
	.grid.grid-right {
		width: 30%;
	}
}

.countdown-box {
	width: 80px;
	display: inline-block;
	text-align: center;
}

.countdown-counter {

}

.countdown-unit {

}
